
<!DOCTYPE html>
<!-- display -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <canvas id="displayCanvas" width="600   " height="600" style="position:absolute"></canvas>
    <script>
        var lon = (@ViewBag.lon);
        var lat = (@ViewBag.lat);
        var canvas = document.getElementById("displayCanvas").getContext("2d");
        canvas.beginPath();
        canvas.arc(lon, lat, 10, 0, 2 * Math.PI);
        canvas.stroke();
        canvas.fillStyle = "red";
        canvas.fill();

    </script>
</body>
</html>