@{ 
    ViewBag.Title = "display";
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="style" type="text/css" href="~/StyleSheet.css">
</head>
<body>
    <canvas id="displayCanvas" ></canvas>



    <script>


        // function of the timer
    var canvas = document.getElementById("displayCanvas");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    canvas.style.position = "absolute";
    canvas = canvas.getContext("2d");
    var prevLon = null; 
    var prevLat = null;

    function drawPoint (lon, lat) {
        canvas.beginPath();
        canvas.arc(lon, lat, 10, 0, 2 * Math.PI);
        canvas.stroke();
        canvas.fillStyle = "red";
        canvas.fill();
    }


    function drawLine (prevLon, prevLat, lon,  lat) {
        canvas.beginPath();
        canvas.moveTo(prevLon, prevLat);
        canvas.lineTo(lon, lat);
        canvas.stroke();
        canvas.fillStyle = "red";
        canvas.fill();
    }


        function drawTimer() {
            var t = @ViewBag.time; 
            var IntervalTime = t * 1000;
            alert(IntervalTime)
            myTimer = (function () {
                $.post("@Url.Action("GetLonLat")").done(function (xml) {
                    var xmlDoc = $.parseXML(xml);
                    $xml = $(xmlDoc);
                    lon = $xml.find("Lon").text();
                    lat = $xml.find("Lat").text();
                    var lonNormal = (parseFloat(lon) + 180) * (window.innerWidth / 360);
                    var latNormal = (parseFloat(lat) + 90) * (window.innerHeight / 180);
                    if (prevLat == null || prevLon == null) {
                        drawPoint(lonNormal, latNormal);
                    } else {
                        drawLine(prevLon, prevLat, lonNormal, latNormal);
                    }
                        prevLon = lonNormal;
                        prevLat = latNormal; 
                });
            });
            if (IntervalTime != 0) {
                setInterval(myTimer, IntervalTime);
            }
            myTimer();
        }

        drawTimer();


    </script>
    </>
</body>
</html>