@{ 
    ViewBag.Title = "display";
}

<!DOCTYPE html>
<!-- display -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="style" type="text/css" href="~/StyleSheet.css">
</head>
<body>
    <canvas id="displayCanvas" ></canvas>



    <script>

      var IntervalTime = @Session["time"] * 1000;
        var lon = @ViewBag.lon;
        var lat = @ViewBag.lat;
        var canvas = document.getElementById("displayCanvas");

        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        canvas.style.position = "absolute";

        canvas = canvas.getContext('2d');
      

        var lonNormal = (lon + 180) * (window.innerWidth / 360);
        var latNormal = (lat + 90) * (window.innerHeight /180);

        canvas.beginPath();
        canvas.arc(lonNormal, latNormal, 10, 0, 2 * Math.PI);
         canvas.stroke();
        canvas.fillStyle = "red";
        canvas.fill();
    </script>
    </>
</body>
</html>