@{
    ViewBag.Title = "save";
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="style" type="text/css" href="~/StyleSheet.css">
</head>
<body>
    <canvas id="displayCanvas"></canvas>



    <script>

        // function of the timer
    var canvas = document.getElementById("displayCanvas");
   canvas.style.position = "absolute";
        var ctx = canvas.getContext("2d");
        ctx.canvas.width = window.innerWidth;
    ctx.canvas.height = window.innerHeight;

    var prevLon = null;
    var prevLat = null;
    var lon = null; 
    var lat = null;
    var rudder = null;
    var throttle = null;


    function drawPoint (lonNormal, latNormal) {
        ctx.beginPath();
        ctx.arc(lonNormal, latNormal, 10, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.fillStyle = "#FF0000";
        ctx.fill();

    }


    function drawLine (prevLon, prevLat, lonNormal,  latNormal) {
        ctx.beginPath();
        ctx.fillStyle = "#FF0000";
        ctx.moveTo(prevLon, prevLat);
        ctx.lineTo(lonNormal, latNormal);
        ctx.strokeStyle = "#FF0000";
        ctx.stroke();
       // alert("prev Lon1: " + prevLon + " Lon: " + lonNormal);
       //alert("prev Lat1: " + prevLat + " Lat: " + latNormal);
    }


    function drawTimer() {
        //var lon = -157;
        //var lat = 21;

        var t =@Session["time"];
        var IntervalTime = t * 1000;
       // alert(IntervalTime);
        myTimer = (function () {
            $.post("@Url.Action("SaveToXML")").done(function (xml) {
                var xmlDoc = $.parseXML(xml);
                $xml = $(xmlDoc);
                lon = $xml.find("Lon").text();
                lat = $xml.find("Lat").text();
               // alert(lon);
              //  alert(lat);
              //  lon = lon + 5;
              //  lat = lat - 5;
                var lonNormal = (parseFloat(lon) + 180) * (window.innerWidth / 360);
                var latNormal = (parseFloat(lat) + 90) * (window.innerHeight / 180);
                //alert(" Lon Normal: " + lonNormal + " Lat Normal: " + latNormal);

                if (prevLat == null || prevLon == null) {
                    drawPoint(lonNormal, latNormal);
                    prevLon = lonNormal;
                    prevLat = latNormal;

                } else {
                    drawLine(prevLon, prevLat, lonNormal, latNormal);
                    prevLon = lonNormal;
                    prevLat = latNormal;

                }
            });

        });
        var inter = setInterval(myTimer, IntervalTime);
        timoutVar = setTimeout(function () { clearInterval(inter) }, @Session["timoutSave"]* 1000 );
        myTimer();
    }

    drawTimer();


    </script>
    </>
</body>
</html>